@font-face {
  font-family: "Golos Text";
  src: url("../src/assets/fonts/GolosText-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
address,
em,
img,
strong,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Golos Text";
  text-decoration: none;
}

body {
  font-size: 18px;
}

.wrapper {
  padding: 0 16px;
  margin: 0 auto;
}

@media (min-width: 1100px) {
  .wrapper {
    padding: 0 44px;
    width: 990px;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    width: 1300px;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
